/*tagName{}
.className{}
#idName{}
tagname, .classname, #idName{} */
body{
    /* background-color: name:;*/
    /* background-color: rgb(0-255,(0-255 ,0-255);*/
    /* background-color: #rgb; */
    /* background-color: #rrggbb; */
    /* background-color: red; */
    /* background-color: rgb(255,0,0); */
    background-color: #f00; 
    /* background-color: #ff0000; */
}
div{
    background-color: antiquewhite;
}
#d2{
    background-color: blue;
}
